
body{
  	background-image:url("images/green_dust_scratch.png");
  }

.contact{
	height:400px;
	width:900px;
}

.contact_right{
	height:400px;
	width:450px;
	float:right;
}

.contact_left{
	height:400px;
	width:450px;
	text-align:left;
	float:left;
}

.contact_right{
	height:400px;
	width:450px;
	float:right;
}

.content{
	height:1600px;
	width:900px;
	font-family:"Palatino Linotype";
}

.footer{
	height:100px;
	width:900px;
	background-image:url("images/pool_table.png");
	color:#FFF;
}
